<label class="card-form__caption" for="numberGroups">Номер</label>
<div class="card-form__number-group" name="numberGroups" [formGroup]="model.Form">
  <input class="card-form__field" formControlName="NumberGroup1" placeholder="0000" maxlength="4"
    autocomplete="false" />
  <input class="card-form__field" formControlName="NumberGroup2" placeholder="0000" maxlength="4"
    autocomplete="false" />
  <input class="card-form__field" formControlName="NumberGroup3" placeholder="0000" maxlength="4"
    autocomplete="false" />
  <input class="card-form__field" formControlName="NumberGroup4" placeholder="0000" maxlength="4"
    autocomplete="false" />
</div>