.history {
    &__inner {
        width: 100%;
        height: 100%;
        overflow-y: auto
    }
    &__inner_empty {
        font: 400 1.3rem/100% 'Nunito', sans-serif;
        -webkit-font-smoothing: antialiased;
        color: #353535;
    }
    &__row {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 4em;
        font: 400 1.3rem/100% 'Nunito', sans-serif;
        -webkit-font-smoothing: antialiased;
        color: #353535;
        background-color: white;
    }
    &__row_head {
        border-top: 1px solid #f3f3f3;
        font-weight: bold;
    }
    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20%;
        border-bottom: 1px solid #f3f3f3;
        border-right: 1px solid #f3f3f3;
    }
    &__item_date {
        width: 15%;
        border-left: 1px solid #f3f3f3
    }
    &__item_controls {
        width: 25%
    }
    &__action {
        width: 6.5em;
        height: 3rem;
        font: bold 1.3rem/100% 'Poppins', sans-serif;
        text-align: center;
        outline: unset;
        background: unset;
        border: 2px solid #9c9c9c;
        border-radius: .9rem;
        margin: 0 0.5rem;
        cursor: pointer;
        transition: .3s;
    }
}

// States
.history {
    &__action:hover {
        background: #2dbdb6;
        border-width: 0;
        color: white;
    }
    &__action:active {
        background: #229B96;
    }
}