<form *ngIf="model" class="transfer-form__inner" [formGroup]="model.Form" novalidate (ngSubmit)="submitForm()">
    <div class="transfer-form__cards">
        <div class="transfer-form__card">
            <card-form-sender [model]="model.SenderCard"></card-form-sender>
            <div class="tranfser-form__save-accept">
                <input type="checkbox" name="AcceptSaveSenderCard" formControlName="AcceptSaveSenderCard"
                    checked>
                <label for="AcceptSaveSenderCard">Добавить карту в коллекцию</label>
            </div>
        </div>
        <i class="transfer-form__figure fas fa-fighter-jet"></i>
        <div class="transfer-form__card">
            <card-form-contragent [model]="model.ContragentCard"></card-form-contragent>
            <div class="tranfser-form__save-accept">
                <input type="checkbox" name="AcceptSaveContragentCard" formControlName="AcceptSaveContragentCard">
                <label for="AcceptSaveContragentCard">Добавить карту в коллекцию</label>
            </div>
        </div>
    </div>
    <div class="transfer-form__controls">
        <div class="sum-group">
            <label class="sum-group__caption" for="amount">
                Введите сумму
            </label>
            <input class="sum-group__input" name="amount" formControlName="Amount" autocomplete="false" />
        </div>
        <button type="input" class="transfer-form__action" [disabled]="!model.IsValid">
            Перевести
        </button>
    </div>
</form>