.layout {
    &__wrapper {
        width: 100%;
        height: 100vh;
        overflow-y: hidden;
    }

    &__inner {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 117rem;
        height: 100%;
        margin: 0 auto;
        color: black;
        background-color: white;
    }

    &__header {
        width: 100%;
        flex: 1 1 20%;
        padding-top: 7rem
    }

    &__outlet {
        flex: 1 1 70%;
        width: 100%;
        min-height: 470px;
        padding: 6rem;
        background-color: #f4fbfb;
        overflow: hidden;
    }

    &__footer {
        width: 100%;
        flex: 1 1 10%;
        margin-bottom: 2rem;
    }
}