<div *ngIf="model" class="card-form__inner">
  <div class="card-form__title">{{model.Title}}</div>
  <form class="card-form__form" [formGroup]="model.Form" novalidate>
    <div class="card-form__field-group card-form__field-group_number">
      <label class="card-form__caption" for="numberGroups">Номер</label>
      <div class="card-form__number-group" name="numberGroups">
        <input class="card-form__field" formControlName="NumberGroup1" placeholder="0000" maxlength="4" autocomplete="false"/>
        <input class="card-form__field" formControlName="NumberGroup2" placeholder="0000" maxlength="4" autocomplete="false"/>
        <input class="card-form__field" formControlName="NumberGroup3" placeholder="0000" maxlength="4" autocomplete="false"/>
        <input class="card-form__field" formControlName="NumberGroup4" placeholder="0000" maxlength="4" autocomplete="false"/>
      </div>
    </div>

    <div *ngIf="!model.IsReducedMode" class="card-form__info">
      <div class="card-form__field-group card-form__field-group_name">
        <label class="card-form__caption" for="ownerEmbossName">
          ФИО держателя
        </label>
        <input class="card-form__field" name="ownerEmbossName" formControlName="OwnerEmbossName" placeholder="PETR STEPANOV" autocomplete="false"/>
      </div>
      <div class="card-form__field-group card-form__field-group_date">
        <label class="card-form__caption" for="expireMonth">
          Активна до
        </label>
        <select class="card-form__field" size="1" name="expireMonth" formControlName="ExpireMonth">
          <option disabled>Выберите месяц</option>
          <option value="01">01</option>
          <option value="02">02</option>
          <option value="03">03</option>
          <option value="04">04</option>
          <option value="05">05</option>
          <option value="06">06</option>
          <option value="07">07</option>
          <option value="08">08</option>
          <option value="09">09</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
        </select>
      </div>
      <div class="card-form__field-group card-form__field-group_date">
        <select class="card-form__field" size="1"
          formControlName="ExpireYear">
          <option disabled>Выберите год</option>
          <option *ngFor="let item of model.getValidYears()" value="{{item}}">
            {{item}}
          </option>
        </select>
      </div>
    </div>
  </form>
</div>